{{#partial "content"}}

            <form action="">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Department</option>
                    <option value="de">Digital Engineering</option>
                    <option value="fs">Financial Services</option>
                    <option value="cb">Core Billing</option>
                </select>
                <label class="form-label rounded" for="asset-name"><b>Asset Name</b></label>
                <input type="name" id="asset-name" class="form-control"/>
                <label class="form-label rounded-pill" for="product-owner"><b>Product Owner</b></label>
                <input type="name" id="product-owner" class="form-control" />
                <label class="form-label rounded-pill" for="product-owner"><b>Link to GIT</b></label>
                <input type="name" id="product-owner" class="form-control" />
            </form>

{{/partial}}

{{> navbar.hbs}}